{{define "event"}}
{{template "header" .Title}}
<div class="row">
    <div class="content col m6 s12">
        <h1>{{.Event.Name}}</h1>
        <p>
            {{.Event.Desc}}
        </p>
    </div>
    <div class="col m6 s12">
    <img class="responsive-img" src="{{.Event.Image}}">

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modal1">Register to event</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Register</a>
        </div>
    </div>

    </div>
</div>
{{template "footer"}}
{{end}}

